.drawer::-webkit-scrollbar {
    display: none;
}

.drawer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.element {
    min-width: 350px;
    width: 100%;
    cursor: pointer;
    position: relative;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out !important;
}

.promo {
    margin-bottom: 12px;
}

.promo:last-child {
    margin-bottom: 0;
}

@media (min-width: 721px) {
    .element:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2), 1px 2px 4px 0px rgba(0, 0, 0, 0.14), 1px 1px 4px 0px rgba(0, 0, 0, 0.12);
    }
}

@media (max-width: 720px) {
    .element {
        min-width: 100%;
    }
}